<% if signed_in? %>
  Signed in as: <%= current_user.email %>
  <%= button_to 'Sign out', sign_out_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in', sign_in_path %>
<% end %>

<div id="flash">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>




def new
  @user = User.new
end

def create
  @user = User.new(user_params)
  if @user.save
    sign_in @user
    redirect_back_or url_after_create
  else
    render template: "users/new"
  end
end

private
def user_params
  params.require(:user).permit(:email, :password, :full_name)
end

Here is your client ID
931655227069-547pu9tg2799kd1v3mktgc3pljptmltg.apps.googleusercontent.com

Here is your client secret
zgvRiMzUEAGkKmcLxW2tiHrW

rails g scaffold Lesson image:string title:string
duration:integer cost:integer category:string language:string
 level:string description:text
rake db:migrate


<ul >
  <li>
    <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
  </li>
  <li>
    <%= link_to 'Explore Now', controller: 'listings'%>
   </li>
  <li>
    <%= link_to 'New listing', new_listing_path %>
   </li>
</ul>
<%= image_tag @user_profile.avatar.url %>



<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= listing.property_title %></h5>
    <p class="card-text"><%= listing.price %></p>
    <p class="card-text"><%= listing.location %></p>
    <p class="card-text"><%= listing.description %></p>
    <a href="#" class="btn btn-primary"><%= link_to 'Show', listing_path(listing) %></a>
  </div>
</div>

<ul>
 <div >
  <% listing.photos.each do |photo| %>
    <%= image_tag photo.url, :class => "thumb_image"%>
  <% end %>
 </div>
  <h3>Name: <%= listing.property_title %></h3>
  <li>Price: <%= listing.price %></li>
  <li>Location: <%= listing.location %></li>
  <li>Description: <%= listing.description %></li>
  <li><%= link_to 'Show', listing_path(listing) %></li>
  <li><%= link_to 'Edit', edit_listing_path(listing) %></li>
  <li><%= link_to 'Destroy', listing_path(listing),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></li>
</ul>
