<% @listings_page.each do |listing| %>
  <% if listing.verify == true %>
  <div class="card-deck grow1">
      <div class="card">
          <div class="card-body">
            <% if listing.photos[0] == nil %>
            <a href="/listings/<%=listing.id%>">
            <%= image_tag ("No_Image_Available.png"), :class => "card-img-top"%>
            </a>
            <% else -%>
            <a href="/listings/<%=listing.id%>">
            <%= image_tag listing.photos.first.url, :class => "card-img-top"%>
            </a>
            <% end %>
            <h5 class="card-title"><%= listing.property_title %></h5>
            <p class="card-text"><%= listing.price %></p>
            <p class="card-text"><%= listing.location %></p>
            <a href="#" class="btn btn-primary"> <%= link_to 'Details', listing_path(listing) %> </a>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="pagination">
<%= paginate @listings_page %>
</div>
