<div class="pink-background">

<%= form_for :listing, url: listings_search_path, method: :get do |f| %>
  <%= f.label :property_title %>:
  <%= f.text_field :property_title %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.submit "Search"%>
<% end %>

<!-- search form -->
<%= form_for :listing, url: global_search_path, method: :get do |f| %>
  <%= f.text_field :terms, placeholder: "search field" %>
  <%= f.submit "Go"%>
<% end %>

<h1>Explore your desired destinations</h1>
<%= paginate @listings_page %>
<% if current_user.role == "moderator"||current_user.role == "superadmin"-%>
  <p>Authorization level: <%= current_user.role.capitalize %> <a href="listings/verify">[Administration Page Here]</a></p>
    <% @listings_page.each do |listing| %>
    <% if listing.verify == true %>
      <ul>
       <div class="thumb-image">
        <% listing.photos.each do |photo| %>
          <%= image_tag photo.url %>
        <% end %>
       </div>

        <h3>Name: <%= listing.property_title %></h2>
        <li>Price: <%= listing.price %></li>
        <li>Location: <%= listing.location %></li>
        <li>Description: <%= listing.description %></li>
        <li><%= link_to 'Show', listing_path(listing) %></li>
        <li><%= link_to 'Edit', edit_listing_path(listing) %></li>
        <li><%= link_to 'Destroy', listing_path(listing),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></li>
      </ul>
      <% end %>
    <% end %>




<% else -%>
  <% @listings_page.each do |listing| %>
  <% if listing.verify == true %>
<ul>
      <li>
        <div class="thumb-image">
        <% listing.photos.each do |photo| %>
          <%= image_tag photo.url %>
        <% end %>
      </div>
    </li>
      <li>Title: <%= listing.property_title %></li>
      <li>Price: <%= listing.price %></li>
      <li>Location: <%= listing.location %></li>
      <li>Description: <%= listing.description %></li>
      <li><%= link_to 'Show', listing_path(listing) %></li>

      <% if listing.user_id == current_user.id %>
      <li><%= link_to 'Edit', edit_listing_path(listing) %></li>
      <li><%= link_to 'Destroy', listing_path(listing),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></li>
</ul>
      <% end %>
    <% end %>
  <% end %>
<% end -%>

</div>
