  <h3>Explore your desired destinations</h3>
  <!-- search form -->
  <div class="search-div">
    <%= form_for :listing, url: global_search_path, method: :get do |f| %>
    <%= f.text_field :term, list: "list", placeholder: "search field" %>
    <datalist id="list"></datalist>
    <%= f.submit "Go"%>
    <% end -%>

    <p>Filter by:</p>
    <%= form_for :listing, url: listings_search_path, method: :get do |f| %>
    <%= f.label :property_title %>:
    <%= f.text_field :property_title %>

    <%= f.label :location %>
    <%= f.text_field :location %>

    <%= f.submit "Search"%>
  </div>
<% end %>

<% if current_user.role == "moderator"||current_user.role == "superadmin"-%>
  <p>Authorization level: <%= current_user.role.capitalize %> <a href="listings/verify">[Administration Page Here]</a></p>
    <% @listings.each do |listing| %>
      <% if listing.verify == true %>
      <div class="card-deck">
          <div class="card">
              <% if listing.photos[0] == nil %>
                <%= image_tag  ("No_Image_Available.png"), :class => "card-img-top"%>
              <% else -%>
                <%= image_tag listing.photos.first.url, :class => "card-img-top"%>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= listing.property_title %></h5>
                <p class="card-text"><%= listing.price %></p>
                <p class="card-text"><%= listing.location %></p>
                <a href="#" class="btn btn-primary"> <%= link_to 'Details', listing_path(listing) %> </a>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
<% else -%>
  <% @listings_page.each do |listing| %>
    <% if listing.verify == true %>
    <div class="card-deck">
        <div class="card">
            <% if listing.photos[0] == nil %>
              <%= image_tag  ("No_Image_Available.png"), :class => "card-img-top"%>
            <% else -%>
              <%= image_tag listing.photos.first.url, :class => "card-img-top"%>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= listing.property_title %></h5>
              <p class="card-text"><%= listing.price %></p>
              <p class="card-text"><%= listing.location %></p>
              <a href="#" class="btn btn-primary"> <%= link_to 'Details', listing_path(listing) %> </a>
            </div>
          </div>
        </div>
    <% end %>
  <% end -%>
<% end -%>

</div>
<div class="pagination">
  <%= paginate @listings_page %>
</div>
