<h1>New listing</h1>
<p>
  <strong>Current User: <%=@user.full_name %></strong>
</p>
<%= form_with model: @listing, url: listings_path, local: true do |form| %>
<% if @listing.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@listing.errors.count, "error") %> prohibited
      this listing from being saved:
    </h2>
    <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <p>
    <%= form.label :property_title %><br>
    <%= form.text_field :property_title %>
  </p>

  <p>
    <%= form.label :location %><br>
    <%= form.text_area :location %>
  </p>
  <p>
    <%= form.label :country %><br>
    <%= form.text_area :country %>
  </p>
    <p>
      <%= form.label :price %><br>
      <%= form.text_area :price %>
    </p>

    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </p>

    <p>
      <%= form.file_field :photos, multiple: true %>
    </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>
