<%= render partial: "shared/navbar_no_search" %>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class='show-content'>
	<div class='content-top'>
		<div id="myCarousel" class="carousel slide">
	    <ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="" contenteditable="false"></li>
	        <li data-target="#myCarousel" data-slide-to="1" class="active" contenteditable="false"></li>
	        <li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
	    </ol>
	    <div class="carousel-inner">
	      <div class="item active">
	          <%= image_tag @listing.photos[Random.rand(@listing.photos.length)].url, class: "listing-image"%>
	          <div class="carousel-caption">
	              <h4 class="">Second Slide Title</h4>
	              <p class="">
	                 Description for Second Slide, this is Second Slide.
	              </p>
	          </div>
	      </div>

	      <% @listing.photos.each.with_index do |listing,index| %>

	        <div class="item" style="">
	                <%= image_tag @listing.photos[index].url,class: "listing-image" %>
	        </div>
	      <% end -%>
	        <div class="item" style="">
	            <%= image_tag @listing.photos[0].url, class: "listing-image"%>
	            <div class="carousel-caption">
	                <h4 class="">First Slide Title</h4>
	                <p class="">
	                   Description for First Slide, this First Slide.
	                </p>
	            </div>
	        </div>
	    </div>

	    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	        <span class="glyphicon glyphicon-chevron-left"></span>
	    </a>

	    <a class="right carousel-control" href="#myCarousel" data-slide="next">
	        <span class="glyphicon glyphicon-chevron-right"></span>
	    </a>
		</div><br>
		<!-- carousel ended -->
			<div class="date-selection">
				<% if @reservation.errors != nil %>
					<% @reservation.errors.full_messages.each do |error| %>
						<%= error %>
					<% end %>
				<% end %>
				<%= form_with scope: :reservation, url: listing_reservations_path(@listing.id), local: true do |form| %>
				<%= form.text_field :start_date, {class: 'datepicker', placeholder:'Check-in',autocomplete:"off"} %>
					<script type="text/javascript">
						$(document).ready(function(){
							$('.datepicker').datepicker();
						});
					</script>


					<%= form.text_field :end_date, {class: 'datepicker', placeholder:'Check-out', autocomplete:"off"} %>

					<script type="text/javascript">
						$(document).ready(function(){
							$('.datepicker').datepicker();
						});
					</script>
				<p>
					<%= form.submit %>
				</p>
				<% if signed_in? %>
					<% if current_user.id == @listing.user_id && @listing.photos? == true %>
							<p><%= link_to 'Delete this property', listing_path(@listing.id),
													method: :delete,
													data: { confirm: 'Are you sure?' } %>
							</p>
					 <% end -%>
				 <% end -%>
				<% end %>
		</div>
	</div>




<div class="listing-body">
		  <% if signed_in? %>
		    <% if current_user.id == @listing.user_id && @listing.photos? == true %>
		      <td><%= link_to 'Update Listing', edit_listing_path(@listing) %></td>
		      <td><%= link_to 'Delete', delete_photo_path(@listing.id),
		      method: :post,
		      data: { confirm: 'Are you sure?' } %></tr>
		    <% end -%>
		  <% end -%>
	<div class="listing-content">
		<h1><%= @listing.property_title %></h1>

			<p>
				<strong>Hosted by:</strong>
				<%= @host.full_name %>
			</p>
		  <h2>Description</h2>
			<p>
		  	<%= @listing.description %>
			</p>
			<p>
				<%= @listing.location %>
			</p>
			<p>
			  USD<%= @listing.price %> per night
			</p>
	</div>

		<%= link_to 'Back', listings_path %>
</div>
