<%= render partial: "shared/navbar" %>

  <div class="profile-image-container">
    <h4><%= @user_profile.full_name %></h4>
    <%= image_tag @user_profile.avatar.url, class: "profile-image" %>
    <%= form_for @user_profile, html: { multipart: true } do |f| %>
      <%= link_to 'Update Profile', edit_user_path(@user_id) %>|
      <%= link_to 'Delete', delete_avatar_path(@user_profile),
                  method: :post,
                  data: { confirm: 'Are you sure?' } %>
    <% end %>
</div>

<% if @user_listing.length != 0 %>
<h3>Your listing</h3>
<table class="listing_table">
  <tr>
    <th>Property</th>
    <th>Location</th>
    <th>Price</th>
    <th>Description</th>
    <th>Action</th>
  </tr>

  <% @user_listing.each do |listing| %>
    <tr>
      <td><%= listing.property_title %></td>
      <td><%= listing.location %></td>
      <td>USD<%= listing.price %></td>
      <td><%= listing.description %></td>
      <td><%= link_to 'Details', listing_path(listing) %></td>
      <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
          <td>
            <i class="fas fa-trash">
              <%= link_to 'Delete', listing_path(listing),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
            </i>
          </td>

    </tr>
    <% end %>
</table>
<% end %>


<br>



<% if @customer_bookings.length != 0 %>
<h2>Your Reservation</h2>
<table class="listing_table">
  <tr>
    <th>Listing ID</th>
    <th>Check In</th>
    <th>Check Out</th>
    <th>Total Payment</th>
    <th>Action</th>
  </tr>

  <% @customer_bookings.each do |booking| %>
    <tr>
      <td><%= booking.listing_id %></td>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <td>USD<%= booking.total_price %></td>
      <td><%= link_to 'Show', listing_reservation_path(booking.listing_id, booking.id) %></td>

    </tr>
    <% end %>
</table>
<% end %>
