<div class="profile_picture">
  <%= image_tag @user_profile.avatar.url %>
</div>

<%= form_for @user_profile, html: { multipart: true } do |f| %>
  <td><%= link_to 'Update Profile', edit_user_path(@user_id) %></td>
  <p><%= link_to 'Delete', delete_avatar_path(@user_profile),
              method: :post,
              data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<h2>Profile of <%= @user_profile.full_name %></h2>
<% if @user_listing.length != 0 %>
<h3>Your listing</h3>
<table class="listing_table">
  <tr>
    <th>Image</th>
    <th>Property</th>
    <th>Location</th>
    <th>Price</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>

  <% @user_listing.each do |listing| %>
    <tr>
      <td>
        <div class="thumb-image">
        <% listing.photos.each do |photo| %>
          <%= image_tag photo.url %>
        <% end %>
      </div>
      </td>

      <td><%= listing.property_title %></td>
      <td><%= listing.location %></td>
      <td><%= listing.price %></td>
      <td><%= listing.description %></td>
      <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
      <td><%= link_to 'Destroy', listing_path(listing),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>
<% end %>


<br>

<% if @customer_bookings.length != 0 %>
<h2>Booking on your property</h2>
<table class="listing_table">
  <tr>
    <th>Reservation ID</th>
    <th>Check In</th>
    <th>Check Out</th>
    <th>No. of day(s)</th>
    <th>Total Payment</th>
    <th colspan="3"></th>
  </tr>

  <% @user_listing.each_with_index do |listing,index| %>
    <tr>
      <td><%= @customer_bookings[index].id %></td>
      <td><%= @customer_bookings[index].start_date %></td>
      <td><%= @customer_bookings[index].end_date %></td>
      <td><%= (@customer_bookings[index].end_date-@customer_bookings[index].start_date).to_i %></td>
      <td><%= @customer_bookings[index].total_price %></td>
      <td><%= link_to 'Show', listing_reservation_path(listing.id, @customer_bookings[index].id) %></td>

    </tr>
    <% end %>
</table>
<% end %>

<% if @customer_bookings.length != 0 %>
<h2>Your Reservation</h2>
<table class="listing_table">
  <tr>
    <th>Listing ID</th>
    <th>Check In</th>
    <th>Check Out</th>
    <th>Total Payment</th>
    <th colspan="3"></th>
  </tr>

  <% @customer_bookings.each do |booking| %>
    <tr>
      <td><%= booking.listing_id %></td>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <td><%= booking.total_price %></td>
      <td><%= link_to 'Show', listing_reservation_path(booking.listing_id, booking.id) %></td>

    </tr>
    <% end %>
</table>
<% end %>
