<div class="profile_picture">
  <%= image_tag @user_profile.avatar.url %>
</div>

<%= form_for @user_profile, html: { multipart: true } do |f| %>
  <td><%= link_to 'Update Profile', edit_user_path(@user_id) %></td>
  <p><%= link_to 'Delete', delete_avatar_path(@user_profile),
              method: :post,
              data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<h2>Profile of <%= @user_profile.full_name %></h2>
<h3>Your listing</h3>
<table class="listing_table">
  <tr>
    <th>Image</th>
    <th>Property</th>
    <th>Location</th>
    <th>Price</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>

  <% @user_listing.each do |listing| %>
    <tr>
      <td>
        <div class="thumb-image">
        <% listing.photos.each do |photo| %>
          <%= image_tag photo.url %>
        <% end %>
      </div>
      </td>

      <td><%= listing.property_title %></td>
      <td><%= listing.location %></td>
      <td><%= listing.price %></td>
      <td><%= listing.description %></td>
      <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
      <td><%= link_to 'Destroy', listing_path(listing),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>
