<%= render 'navbar' %>

<!-- <%= image_tag ("santorini_1.jpg"), :class => "home-page-image"%> -->
<div class="home-content">
  <% @listings.each do |listing| %>
  <% if listing.verify == true %>

    <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <% if listing.photos[0] == nil %>
            <a href="listings/<%=listing.id%>">
            <%= image_tag ("No_Image_Available.png"), :class => "card-img-top"%>
            </a>
            <% else -%>
            <a href="listings/<%=listing.id%>">
            <%= image_tag listing.photos.first.url, :class => "card-img-top"%>
            </a>
            <% end %>
            <h5 class="card-title"><%= listing.property_title %></h5>
            <p class="card-text"><%= listing.price %></p>
            <p class="card-text"><%= listing.location %></p>
            <a href="#" class="btn btn-primary"> <%= link_to 'Details', listing_path(listing) %> </a>
          </div>
        </div>
      </div>

      <% end %>
    <% end %>
  </div>

<!-- <h3>----------------------------------------------------</h3>
<h4>To input navbar, background pic here</h4>
<h3>----------------------------------------------------</h3> -->
<!-- <script>
  $(document).on('turbolinks:load', function(){
    $("#listing_term").keyup(function(){
      autocomplete()
    });
  })
  function autocomplete(){
    $.ajax({
      url: '/listings/ajax_search',
      type: 'GET',
      data: {query: $("#listing_term").val()}, //takes the form data and authenticity toke and converts it into a standard URL
      dataType: 'json', //specify what type of data you're expecting back from the servers
      error: function() {
          console.log("Something went wrong");
      },
      success: function(data) {
        console.log(data)
        $("#list").html("");

        data.forEach(function(element) {
          var option = document.createElement("option");
          option.value = element;
          console.log(option)

          //append option to list
          $("#list").append(option);
        });
      }
    });
  }
</script> -->
