
<p>
  <strong>Property name:</strong>
  <%= @listing.property_title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>
<p>
  <strong>Location:</strong>
  <%= @listing.location %>
</p>
<p>
  <strong>description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Host:</strong>
  <%= @user.full_name %>
</p>



<%= form_with model: @listing, local: true do |form| %>

  <%= form.text_field :start_date, {class: 'datepicker', placeholder:'Check-in'} %>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datepicker();
    });
  </script>

  <input type="text" class='datepicker' placeholder="Check-out" >

  <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datepicker();
    });
  </script>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', listings_path %>
